body{
	margin: 0;
}

.header-area{
	width: 100%;
	height: 450px;
	
}


.left{
	width: 34%;
	height: 450px;
	background-color: #018754;
	float: left;
}



.center{
	width: 33%;
	height: 450px;
	background-color: #ffffff;
	overflow: hidden;
	float: left;
}



.right{
	width: 33%;
	height: 450px;
	background-color: #018754;
	overflow: hidden;
}


.left-area{
	width: 60%;
	height: 450px;
	float: left;

}

.right-area{
	width: 40%;
	height: 450px;
	overflow: hidden;
}


.top{
	width: 100%;
	height: 150px;
	background-color: #FE0000;
	float: left;
}


.middle{
	width: 100%;
	height: 150px;
	background-color: #FF9700;
	overflow: hidden;
	float: left;
}


.bottom{
	width: 100%;
	height: 150px;
	background-color: #FFFF00;
	overflow: hidden;
}


		/***header area ends***/

.footer-area{
	width: 100%;
	height: 450px;
	background-color: blue;
} 


.top-1{
	width: 100%;
	height: 150px;
	background-color: #009802;
	float: left;
}


.middle-1{
	width: 100%;
	height: 150px;
	background-color: #0000FE;
	overflow: hidden;
	float: left;
}


.bottom-1{
	width: 100%;
	height: 150px;
	background-color: #7201B3;
	overflow: hidden;
}

		/***footer area ends***/